flask==3.0.1 ; python_version >= "3.10" and python_version < "3.11"
flask-vite==0.3.7 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==21.2.0 ; python_version >= "3.10" and python_version < "3.11"
